<div class="user-details">
  <h1> About Me </h1>
  <p>I am Prince Narula, and I sincerely thank you for dropping by. I am an aspiring engineer in Delhi Technological University's class of 2019, currently pursuing my B.Tech. in Electrical and Electronics Engineering.</p>
  <p>I am good at exploiting the art of communication, thereby bridging the gap that usually persists among individuals who work together. I personally believe that communication plays an inevitable role in technological advancements and productivity benchmarks achieved by an organization.</p>
  <p>Throughout my various projects and internships, I have amassed considerable professional experience in numerous technologies. I would like to get into a data-science related technical role and use the best of my capabilities to lend a helping hand in transforming the world for the better.</p>
  <p>I am also into working out, philosophy and human psychology. Nothing turns my mind on like a fine piece of classical music.</p>
  <p><b>Research Interests :</b> Artificial Intelligence, Computer Vision, Deep Learning, Machine Learning</p>
  <p>Feel free to contact me or take a look at my work. I hope you like what you see. Cheers!</p>
</div>
