<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:prince.narula222@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/prince-narula-3177a4116/"><i class="icon fa fa-linkedin-square" aria-hidden="false"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/prince.narula619/"><i class="icon fa fa-facebook-square" aria-hidden="false"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/princenarula222/"><i class="icon fa fa-github" aria-hidden="false"></i></a>
        <a aria-label="My Quora" target="_blank" href="https://www.quora.com/profile/Prince-Narula-1/"><i class="icon fa fa-quora" aria-hidden="false"></i></a>
        <a aria-label="My Resume" target="_blank" href="https://drive.google.com/open?id=12cR_0FwhD_xujE6TstN3WXznmjQghalq"><i class="icon fa fa-file-text" aria-hidden="false"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" aria-label="My CodeChef" target="_blank" href="https://www.codechef.com/users/prince_narula" aria-hidden="false">CodeChef Profile</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>